<div class="col-xs-12 col-sm-6">

  <div class="box box-solid">
    <div class="box-header with-border">
      <span class="review-score pull-right"><i class="fa fa-star"></i> 4.5</span>
      <div class="user-block">
        <img alt="User Image" class="img-circle" src="assets/img/reactions/loved.png">
        <span class="username">Julia</span>
        <span class="description">23/01/2017</span>
      </div>
    </div>

    <div class="box-body">
      <p>Tudo muito bom, entrega no tempo certo</p>
    </div>
  </div>
</div>